.SettingsUI {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
    background-color: rgba(11, 11, 11, 0.84);
}

.slider-number {
}

.slider {
    color: rgb(215, 215, 215);
}

.slider #unity-text-input {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    -unity-text-align: middle-center;
    justify-content: flex-start;
    align-self: auto;
    align-content: auto;
    flex-direction: column;
}
